# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.env
*.log

# Node
node_modules/
npm-debug.log
build/
dist/
.cache/

# Base de datos local
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Storage
storage/backups/*.sql
storage/logs/*.log
